.m{
    position: fixed;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.m-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    z-index: 1;
}
.m-body{
    position: relative;
    margin: auto;
    z-index: 2;
}

